<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>제주렌트카</title>
<link href="register.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div id="topMenu">
			<ul id="top_left">
				<li style="border-right: 1px solid gray;"><a>HOME</a></li>
				<li><a>즐겨찾기</a></li>
			</ul>
			<ul id="top_right">
				<li><a>회원가입</a></li>
				<li><a>로그인</a></li>
				<li><a>마이페이지</a></li>
				<li><a>예약조회</a></li>
				<li><a>공지사항</a></li>
				<li><a>예약상담</a></li>
				<li><a>이용후기</a></li>
				<li><a>개인결제</a></li>
			</ul>
		</div>
		
		<div id="hd_wrapper">
			<div id="hd_left"><img alt="고객센터 : 064)747-6606" src="../img/call_center.jpg" /></div>
			<div id="hd_center"><img alt="제주렌트카" src="../img/logo_img.jfif"></div>
			<div id="hd_right"><img src="../img/yellowid.png"></div>
		</div>
		
		<div id="top_list">
			<nav>
				<ul id="ul1">
					<li style="color: yellow;"><a>★전체차량 리스트☆</a></li>
					<li><a>경,소형차량</a></li>
					<li><a>중형차량</a></li>
					<li><a>고급차량</a></li>
					<li><a>SUV / RV</a></li>
					<li><a>승합차량</a></li>
					<li><a>외제차량</a></li>
				</ul>
				<ul id="ul2">
					<li><a>기사전용차량</a></li>
					<li><a>실시간항공권</a></li>
					<li><a>관광지할인쿠폰</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	
	<div id="wrapper">
		<div id="title">회원 가입</div>
		<form action="#">
			<div class="tbl_wrap">
				<table>
					<caption>사이트 이용정보 입력</caption>
					<tr>
						<th>아이디</th>
						<td>
							<p>영문자, 숫자, _ 만 입력 가능. 최소 3자이상 입력하세요.</p>
							<input type="text" >
						</td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td><input type="password" ></td>
					</tr>
					<tr>
						<th>비밀번호 확인</th>
						<td><input type="password" ></td>
					</tr>
				</table>
				<table>
					<caption>개인정보 입력</caption>
					<tr>
						<th>이름</th>
						<td><input type="text" ></td>
					</tr>
					<tr>
						<th>닉네임</th>
						<td>
							<p>공백없이 한글,영문,숫자만 입력 가능 (한글2자, 영문4자 이상)</p>
							<p> 닉네임을 바꾸시면 앞으로 60일 이내에는 변경 할 수 없습니다.</p>
							<input type="text" >
						</td>
					</tr>
					<tr>
						<th>E-mail</th>
						<td><input type="password" ></td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td><input type="password" ></td>
					</tr>
					<tr>
						<th>휴대폰번호</th>
						<td><input type="password" ></td>
					</tr>
					
				</table>
				<table>
					<caption>사이트 이용정보 입력</caption>
					<tr>
						<th>메일링서비스</th>
						<td>
							<input type="checkbox">정보 메일을 받겠습니다.
						</td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td><input type="checkbox" >휴대폰 문자메세지를 받겠습니다.</td>
					</tr>
					<tr>
						<th>정보공개</th>
						
						<td>
							<p>정보공개를 바꾸시면 앞으로 0일 이내에는 변경이 안됩니다.</p>
							<input type="checkbox" >
							다른분들이 나의 정보를 볼 수 있도록 합니다.
						</td>
					</tr>
					<tr>
						<th>자동등록방지</th>
						<td><input type="checkbox" >휴대폰 문자메세지를 받겠습니다.</td>
					</tr>
				</table>
			</div>
			<div class="btn_confirm">
				<input type="submit" value="회원가입" id="btn_submit">
				<input type="submit" value="취소" id="btn_cancle">
			</div>
		</form>
	</div>
	
	
	
	
	
	<footer>
		<div class="foot_menu">
			<ul>
				<li>회사소개</li>
				<li>전자상거래표준약관</li>
				<li>개인정보 취급방침</li>
				<li>국내여행표준약관</li>
				<li>
					<select>
						<option>::제휴사이트 링크::</option>
						<option>--------------</option>
						<option>제주허브닷컴</option>
						<option>제주허브렌트카</option>
						<option>제주렌트카닷컴</option>
					</select>
				</li>
			</ul>
		</div>
		<div class="foot_info">
			<p>
				<span><b>회사명</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<span><b>주소</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<br/>
				<span><b>사업자 등록번호</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<span><b>대표</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<span><b>전화</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<span><b>팩스</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<br/>
				<span><b>통신판매업신고번호</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<span><b>개인정보관리책임자</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<span><b>부가통신사업번호</b>제주렌트카 (상호명:제주허브닷컴)</span>
				<br/>
				<span id="copy">Copyright © 2016-2020 제주렌트카 (상호명:제주허브닷컴). All Rights Reserved.</span>
			</p>
		</div>
	</footer>
		
		
	
		
</body>
</html>